body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(120deg, rgba(190, 115, 212), rgba(251, 178, 110));
  font-family: "Cormorant Unicase", serif;
  color: white;
}
header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  min-height: 14vh;
}
header {
  font-size: 1.6rem;
  min-height: 30vh;
}
form input,
form button {
  font-family: "Cormorant Unicase", serif;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.9rem;
  border: none;
  outline: none;
  background: white;
  color: rgba(216, 205, 212); /*rgba(154, 148, 150); /*rgba(62, 58, 60) for dark grey*/
  font-style: italic;
}

form button {
  color: rgba(229, 150, 175);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  color: white;
  /* background: rgba(229, 150, 175); */
  background: rgba(216, 205, 212); 
}
form button i{
  padding: 0rem 0.3rem; /*makes the plus sign background square-shaped*/
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 28%;
  list-style: none;
  margin-right: 2.5rem;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: rgba(60, 60, 60);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.trash-btn,
.complete-btn {
  background: rgba(255, 190, 164);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.complete-btn {
  background: rgba(166, 230, 155);
  color: white;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  color: rgba(229, 150, 175);
  width: 14rem;
  cursor: pointer;
  padding: 0.68rem;
  font-family: "Cormorant Unicase", serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  background: white;
}
.select option {
  font-weight: bold;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgba(229, 150, 175);
  color: white;
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: rgba(229, 150, 175);
}
